.front-page-wrapper {
  width: 100%;
  // border: 2px solid #e3358c40;
  padding: 1rem;
  border-radius: 2rem;
  box-shadow: 12px 20px 57px 8px rgba(0,0,0,0.41);
  -webkit-box-shadow: 12px 20px 57px 8px rgba(0,0,0,0.41);
  -moz-box-shadow: 12px 20px 57px 8px rgba(0,0,0,0.41);
}
